* {
    margin: 0;
    box-sizing: border-box;
  }
  
  #div-1 {
    width: 150px;
    height: 150px;
    margin: 50px auto 0px auto;
    border: 1px solid #aaaaaa;
    /* linear-gradient(posicion | angulo | [colore]*/
    /*background: -webkit-linear-gradient(top, #fff, tomato);*/
    background: #6190E8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #A7BFE8, #6190E8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #A7BFE8, #6190E8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }