* {
    margin: 0;
    box-sizing: border-box;
  }
  
  div { 
    margin: 40px auto 0px auto;
    width: 100px;
    height: 100px;
    background-color: #ddd;
  }

  #div-1:hover{
      /* scale(x,y) */
      transform: scale(1.1, 0.9);
  }

  #div-2{
      background-image: url("https://via.placeholder.com/100/22ff44/ff6666?text=CodiGo");
      transform: rotate(45deg);
  }
  #div-3:hover{
    transform: translate(30px, 10px);
}
#div-4:hover{
    transform: scale(1.2, 0.9) rotate(45deg);
}