*{
    margin: 0;
    box-sizing: 0;
}
header{
    background-color: teal;
    color: whitesmoke;
}
/*#contenedor div{
    width: 140px;
    height: 50px;
    /*margin: 5px;*/
    /*background-color: tomato;*/
/*}*/
#caja-1{
    width: 140px;
    height: 50px;
    float: left;
    background-color: tomato;
}
#caja-2{
    width: 140px;
    height: 50px;
    float: left;
    background-color: tomato;
}
#caja-3{
    width: 140px;
    height: 50px;
    float: right;
    background-color: tomato;
}
#caja-4{
    width: 140px;
    height: 50px;
    float: right;
    background-color: tomato;
}
#contenedor{
    background-color: tan;
    width: 600px;
}
.fix {
    clear: both;
}

#caja-1{
    float: left;
}