*{
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: teal;
    color: whitesmoke;
}
/*#contenedor div{
    width: 140px;
    height: 50px;
    /*margin: 5px;*/
    /*background-color: tomato;*/
/*}*/
#caja-1{
    width: 140px;
    height: 50px;
    float: left;
    background-color: yellow;
}
#caja-2{
    width: 140px;
    height: 50px;
    float: left;
    background-color: tomato;
}
#caja-3{
    width: 140px;
    height: 50px;
    float: left;
    background-color: green;
}
#caja-4{
    width: 140px;
    height: 50px;
    float: left;
    background-color: tomato;
}
#contenedor{
    background-color: tan;
    width: 600px;
}
#contenedor > div {
    border: 1px solid blue;
}

.fix {
    clear: both;
}

#caja-1{
    float: left;
}
#navegacion{
    background-color: crimson;
    color: white;
    /*text-align: center;*/
}
.navegacion-wraper{
    margin: 0 auto;
    background-color: green;
    width: 600px;
 
}
.opcion-1, .opcion-2, .opcion-3 {
    background-color: indigo;
    width: 200px;
    float: left;
    /*display: inline-block;*/
    text-align: center;
    border: 0.5px solid yellow;
}